@model CreateTicketViewModel
@using Enums = BugTracker.Domain.Enums
@{
    ViewData["Title"] = "Create Ticket";
}

<h2 class="page-title">Create Ticket</h2>

<form method="post" asp-action="CreateNewTicket" class="form">
    <div class="form-group row">
        <label asp-for="Ticket.Name" class="col-sm-2"></label>
        <div class="col-md-5">
            <input asp-for="Ticket.Name" class="form-control" />
            <span asp-validation-for="Ticket.Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Ticket.Description" class="col-sm-2"></label>
        <div class="col-md-5">
            <input asp-for="Ticket.Description" class="form-control" />
            <span asp-validation-for="Ticket.Description" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Ticket.ProjectId" class="col-sm-2">Type</label>
        <div class="col-md-5">
            <select class="form-control" asp-for="Ticket.ProjectId" asp-items="Model.Projects">
                <option value="">Project</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Ticket.TicketTypeId" class="col-sm-2">Type</label>
        <div class="col-md-5">
            <select class="form-control"
                    asp-for="Ticket.TicketTypeId"
                    asp-items="Html.GetEnumSelectList<Enums.TicketType>()">
                <option value="">Type</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Ticket.TicketPriorityId" class="col-sm-2">Priority</label>
        <div class="col-md-5">
            <select class="form-control"
                    asp-for="Ticket.TicketPriorityId"
                    asp-items="Html.GetEnumSelectList<Enums.TicketPriority>()">
                <option value="">Priority</option>
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

@section Scripts  {
    <partial name="_ValidationScriptsPartial" />
}