@model IEnumerable<Project>
@{
    ViewData["Title"] = "Projects";
}

<h1 class="page-title">Projects</h1>
<a class="btn btn-primary crt-new-btn" asp-controller="Projects" asp-action="Create">Create New</a>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model)
        {
            <tr>
                <td>@project.Name</td>
                <td>@project.Description</td>
            </tr>
        }
    </tbody>
</table>